.btn-green {
    background-color: #a8f23100 !important;
    border: #A8F231 solid 2px !important;
    border-radius: 5px !important;
    color: #A8F231 !important;
    font-weight: bolder !important;
}

.btn-green :hover{
    background-color: #a8f231 !important;
    color: #191919 !important;
}


.btn-border {
    border: #191919 solid 2px;
}
 
.text-green{
    color: #A8F231;
}

.border-green{
    border: #A8F231 solid 2px;
}

.border-bottom-green{
    border-bottom: #A8F231 solid 2px;
}

.card-green{
    background-color: #a8f23100 !important;
    border: #A8F231 solid 2px !important;
    color: #A8F231 !important;
}

.input-green{
    background-color: #a8f23100 !important;
    border: #A8F231 solid 2px !important;
    border-radius: 5px;
    color: #A8F231 !important;
    padding: 5px;
}

.input-green::placeholder{
    color: #cdfe7d65 !important;
}

.input-green:active {
    border: #cdfe7d solid 2px !important;
}

.shadow-green{
    box-shadow: 0px 0px 2px 0px #A8F231;
}

.btn-profile-menu.dark:hover{
    background-color: #212529 !important;
    color: #fff !important;
}

.btn-profile-menu.light:hover{
    background-color: #fff !important;
    color: #212529 !important;
}